<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
<connectionStrings><add name="LR_5Entities" connectionString="metadata=res://*/Base.Model1.csdl|res://*/Base.Model1.ssdl|res://*/Base.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SERVER03;initial catalog=LR_5;user id=Lebedev_a;password=edu-759;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>